# База данных
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
PGPORT=5432
POSTGRES_DB=file_storage

# Redis
REDIS_URL=redis://localhost:6379/0

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001

# Окружение
ENVIRONMENT=development
DEBUG=true

# Логирование
LOG_LEVEL=INFO

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=